<!DOCTYPE html>
<html>
  <%- include('_head') %>
  <body>
    <!-- HEADER -->
    <%- include('_header') %>
    <!-- CONTENT -->
    
    <!-- FOOTER -->
    <%- include('_footer') %>
  </body>

</html>
